name: test

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '3 11 * * 4'

jobs:
  ruby-versions:
    uses: ruby/actions/.github/workflows/ruby_versions.yml@master
    with:
      min_version: 2.5

  test:
    needs: ruby-versions
    name: build (${{ matrix.ruby }} / ${{ matrix.os }})
    strategy:
      matrix:
        ruby: ${{ fromJson(needs.ruby-versions.outputs.versions) }}
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        exclude:
          - { os: macos-latest, ruby: 2.5 }
          - { os: windows-latest, ruby: truffleruby-head }
          - { os: windows-latest, ruby: truffleruby }
          - { os: windows-latest, ruby: jruby-head }
          - { os: windows-latest, ruby: jruby }
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6.0.1
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: bundle install
    - name: Run test
      run: rake test

    - uses: ./.github/actions/package
      if: ${{ matrix.ruby == needs.ruby-versions.outputs.latest }}
