name: test

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '3 11 * * 4'

jobs:
  ruby-versions:
    uses: ruby/actions/.github/workflows/ruby_versions.yml@master
    with:
      min_version: 2.5

  test:
    needs: ruby-versions
    name: build (${{ matrix.ruby }} / ${{ matrix.os }})
    strategy:
      matrix:
        ruby: ${{ fromJson(needs.ruby-versions.outputs.versions) }}
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        exclude:
          - { os: windows-latest, ruby: truffleruby-head }
          - { os: windows-latest, ruby: truffleruby }
          - { os: windows-latest, ruby: jruby-head }
          - { os: windows-latest, ruby: jruby }
    runs-on: ${{ matrix.os }}
    steps:
    - name: git config
      run: |
        git config --global core.autocrlf false
        git config --global core.eol lf
        git config --global advice.detachedHead 0
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Install dependencies
      run: bundle install
    - name: Run test
      run: rake test

    - id: build
      run: |
        rake build
        ls -l pkg/*.gem
        shasum -a 256 pkg/*.gem
        echo "pkg=${GITHUB_REPOSITORY#*/}-${RUNNING_OS%-*}" >> $GITHUB_OUTPUT
      env:
        RUNNING_OS: ${{matrix.os}}
      shell: bash
      if: >-
        ${{
        matrix.os != 'windows-latest' &&
        matrix.ruby == needs.ruby-versions.outputs.latest
        }}
    - name: Upload package
      uses: actions/upload-artifact@v4
      with:
        path: pkg/*.gem
        name: ${{steps.build.outputs.pkg}}
      if: ${{ steps.build.outcome == 'success' }}
